[submodule "ycmd"]
	path = .packages/ycmd
	url = https://github.com/Valloric/ycmd.git
[submodule "bibtexparser"]
	path = .packages/bibtexparser
	url = https://github.com/sciunto-org/python-bibtexparser.git
